* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100%;
    background-color: #3F8536;
    padding: 10px;
}

.logo, .sociais {
    width: 25%;
}

.logo img {
    width: 100px;
    cursor: pointer;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: center;
}

.menu nav {
    display: flex;
    justify-content: center; 
    gap: 20px; 
    flex-wrap: nowrap; 
    width: 100%;
}

.menu nav a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
    flex: none; 
}

@media (max-width: 768px) {
    .menu nav {
        flex-wrap: wrap; 
        justify-content: center;
    }

    .menu nav a {
        flex: none;
        width: 100%; 
        text-align: center;
    }
}

.sociais {
    display: flex;
    justify-content: flex-end;
}

.sociais button {
    width: 40px;
    height: 40px;
    background-color: #3F8536;
    color: #ffff;
    border-radius: 8px;
    margin-left: 10px;
    border: 1px solid #3F8536;
}

.sociais button i {
    font-size: 20px;
}

.back{
    background-color: #E6FFDE;
}

.container2{
    width: 100%;
    max-width: 1350px;
    height: 100px;
    opacity: 0.75;
    background: #E6FFDE;
    position: relative;
}

.receitas {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    background-color: #E6FFDE;
    min-height: 100vh; 
    margin: 0 auto; 
}

.receitas h4 {
    color: #104209;
    background-color: orange;
    margin: 20px 0; 
    padding: 10px;
    border-radius: 5px;
}

.receitas img {
    max-width: 100%; 
    height: auto;
    margin: 10px 0; 
}

footer {
    background-color: #0c3b05; 
    color: white; 
    padding: 20px 0; 
}

.footer-container {
    display: flex;
    justify-content: space-around; 
    flex-wrap: wrap; 
    max-width: 1200px;
    margin: 0 auto; 
}

.footer-section {
    flex: 1;
    margin: 10px;
    min-width: 200px;
}

.footer-section h4 {
    margin-bottom: 10px;
    border-bottom: 2px solid #28a745;
    display: inline-block;
    padding-bottom: 5px;
}

.footer-section ul {
    list-style: none; 
}

.footer-section ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-section ul li a:hover {
    color: #28a745; 
}

.footer-bottom {
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #555;
}


