* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1080px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    background-color: #3F8536;
    padding: 10px;
}

.logo, .sociais{
    width: 25%;
}

.logo img{
    width: 100px;
    cursor: pointer;
}

.menu {
    width: 50%;
    display: flex;
}

.menu nav a{
    color: white;
    text-decoration: none;
    padding-right: 18px;
    font-size: 15px;
    justify-content: space-between;
}

.sociais button {
    width: 40px;
    height: 40px;
    background-color:#3F8536;
    color: #ffff;
    border-radius: 8px;
    margin-right: 10px;
    border: 1px solid #3F8536;
}

.sociais button i{
    font-size: 20px;    
}

.container2{
    width: 1350px;
    height: 100px;
    opacity: 0.75;
    background: #E6FFDE;
    position: relative;
}

.receita1 {
    width: 150px;
    max-width: 100%;
    height: auto;
}
